* {
    margin: 0 auto;
    padding: 0 auto;
}

.conte-home {
    display: flex;
    justify-content:start;
    align-items: center;
}

.home {
    position: fixed;
    display:flex;
}

.home a {
    color: red;
    text-decoration: none;
    font-size: 30px;
    background-color: rgba(255, 99, 71, 0.226);
    font-weight: 700;
    border-radius: 20px;
    padding: 5px;
}

header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: black;
}

h1 {
    background: linear-gradient(to right,blue,red,purple);
    -webkit-background-clip: text;
    color: transparent;
}

body {
    background-image: url(/imagenes/1.jpeg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


.intro p {
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.intro h2 {
    color: blue;
    display: flex;
    justify-content: center;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
}

.contenedor {
    margin-top: 100px;
}

table {
    border: 2px solid blue;
    border-radius: 20px;
    background-color: rgba(31, 31, 124, 0.342);
    border-spacing: 20px;
}

th {
    color:black;
    border: 1px solid blue;
    border-radius: 20px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.664);
    font-weight: 900;
}

td {
    color: white;
    border: solid 1px blue;
    border-radius: 20px;
    padding: 5px;
    background-color: rgba(2, 2, 2, 0.514);
    font-weight: 900;
}

.conte-img {
    text-align: center;
    margin-top: 100PX;
    margin-left: 20%;
    margin-right: 20%;
}

article{
    margin-bottom: 80px;
    background-color: rgba(0, 0, 255, 0.137);
    border-radius: 40px;
}

article img {
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: blue 3px 6px 9px;
}

article p {
    color: white;
    text-align: center;
    padding: 20px;
}

article h2 {
    color: red;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.445);
    margin-left: 40%;
    margin-right: 40%;
}

.volver a{
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow:rgb(0, 0, 255) 3px 6px 9px;
}